# Exclude all files and directories that should not be included in the Docker build context
# Add more entries if necessary

# Exclude files and directories in the current directory
*

# Include the Dockerfile and the start_app.sh script
!Dockerfile
!start_app.sh
!start_be.sh
!start_fe.sh

# Include your project code from two folders above 
# Modify the path to match your directory structure if needed
!../../Code

# Exclude any files or directories that are not part of your project
# For example, if you have other_folders and other_files not related to the project
../../Pipelines/
../../Test/